.secao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.secao-titulo {
  color: #ffb500;
  text-transform: capitalize;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
